*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.sectionone{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionone .navigation{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.navigation .logo{
    height: 50%;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.Top a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: white;
}
.navigation .navlinks{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px black;
}
.navlinks .links{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    color: blue;
    font-weight: 600;
    transition: .2s;
}
.links a:hover{
    color: darkblue;
    border-bottom: solid 2px darkblue;
}
.links button{
    border: none;
    background-color: blue;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.links button:hover{
    background-color: darkblue;
}
.sectionone .maindiv{
    height: 98%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* background-color: aqua; */
}
.maindiv .pharmacy{
    height: 40%;
    width: 100%;
    position: relative;
}
.maindiv .lab{
    height: 40%;
    width: 100%;
    position: relative;
}
.maindiv .providers{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.maindiv .providers .one{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
    border-bottom: 2px solid blue;
}
.maindiv .providers .two{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
    border-bottom: 2px solid blue;
}
.maindiv .providers .three{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #000;
    border-bottom: 2px solid blue;
}
.maindiv h4{
    color: blue;
}
.maindiv img{
    height: 200px;
    margin-bottom: 5px;
}
.providers a{
    text-decoration: none;
}